<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UPSEN Dosen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
  <ion-card color="secondary">
    <ion-card-content>
     <h3>Selamat Datang !</h3>

      <h2>Nama : {{nama}}</h2>
      <h2>NIDN : {{nim}} </h2><br>
      
      <br>
      <ion-label>
        Saat ini anda sedang login sebagai <b>Dosen</b>. Pada 
        <ion-datetime displayFormat="MMM DD, YYYY  HH:mm" [min]="" [max]="" [(ngModel)]="selectedDateString"></ion-datetime>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <!--Menu-->
  <ion-card [routerLink]="['/home']">
      <img src="../../../assets/Membuat Absensi(Halaman Dosen).png">
    <ion-card-content>
      <ion-card-title>
        Membuat Absensi
      </ion-card-title>
      <ion-label>
        Membuat Absensi dengan cara meng-generate QR Code.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/history']">
      <img src="../../../assets/Melihat Data Absensi.png">
    
    <ion-card-content>
      <ion-card-title>
        Melihat Data Absensi
      </ion-card-title>
      <ion-label>
        Melihat data absensi kelas pada tanggal tertentu.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="primary" (click)="changePw()">Ganti Password</ion-button>
  <ion-button expand="full" color="primary" (click)="logOut()">Log Out</ion-button>

</ion-content>