<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UPSEN Tata Usaha</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
  <ion-card color="secondary">
    <ion-card-content>
     <h3>Selamat Datang !</h3>

      <h2>Nama : {{nama}}</h2><br>
      <h2>NIDN : {{nim}} </h2><br>
      
      <br>
      <ion-label>
        Saat ini anda sedang login sebagai <b>Tata Usaha</b>. Pada 
        <ion-datetime displayFormat="MMM DD, YYYY  HH:mm" [min]="" [max]="" [(ngModel)]="selectedDateString"></ion-datetime>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <!--Menu-->
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/shapes.svg">
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Lihat Absensi
      </ion-card-title>
      <ion-label>
        Lihat data absensi mata kuliah
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="../../../assets/shapes.svg">
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Tambahkan Data Pengajaran
      </ion-card-title>
      <ion-label>
        Menambahkan relasi antara dosen, mata kuliah & kelas.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="primary" [routerLink]="['/home']" >Absensi</ion-button>
  <ion-button expand="full" color="primary">Lihat Data Absensi Mahasiswa</ion-button>

</ion-content>