<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UPSEN Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
  <ion-card color="secondary">
    <ion-card-content>
     <h3>Selamat Datang !</h3>

      <h2>Nama : {{nama}}</h2>
      <h2>NIDN : {{nim}} </h2>
      <h2>Kelas: {{kelas}}</h2>
      <br>
      <ion-label>
        Saat ini anda sedang login sebagai <b>Mahasiswa</b>. Pada 
        <ion-datetime displayFormat="MMM DD, YYYY  HH:mm" [min]="" [max]="" [(ngModel)]="selectedDateString"></ion-datetime>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <!--Menu-->
  <ion-card [routerLink]="['/scan-qr']">
    <img src="../../../assets/Scan Absensi(Halaman MHS).png">
  <ion-card-content>
    <ion-card-title>
      Scan QR
    </ion-card-title>
    <ion-label>
      Melakukan absensi dengan cara Scan QR code.
    </ion-label>
  </ion-card-content>
</ion-card>

<ion-card>
    <img src="../../../assets/Melihat Data Absensi.png">
  
  <ion-card-content>
    <ion-card-title>
      Melihat Data Absensi
    </ion-card-title>
    <ion-label>
      Melihat data absensi kelas pada tanggal tertentu.
    </ion-label>
  </ion-card-content>
</ion-card>


<ion-button expand="full" color="primary" (click)="changePw()">Ganti Password</ion-button>
<ion-button expand="full" color="primary" (click)="logOut()">Log Out</ion-button>
</ion-content>