<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/dosen" color="secondary"></ion-back-button>
   </ion-buttons>
    <ion-title>Riwayat Absensi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let x of dataAbsen">
    <ion-card-header>
      <ion-card-title>
        {{x.kelas}}, {{x.tanggal}}
      </ion-card-title>
      <ion-card-title>
        {{x.matkul}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-card-subtitle color="success">
      Minggu-ke : {{x.minggu}} <br>
      Sesi : {{x.sesi}} <br>
      Deskripsi : {{x.deskripsi}}
    </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
