<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/dosen" color="secondary"></ion-back-button>
   </ion-buttons>
    <ion-title>Create Absensi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <p align="center">
    <img src="/assets/logo.png">
  </p>
  <h1 align="center">Absen Sekarang</h1>
 

  <ion-card>
    <ion-item>
      <ion-label>Pilih ID Kelas</ion-label>
      <ion-select  [(ngModel)]="selectedState" (ionChange)="getDataKelas(selectedState.idkelas)">
        <ion-select-option *ngFor="let stateObj of states" [value]="stateObj">{{stateObj.idkelas}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Kelas</ion-label>
      <ion-input [(ngModel)]="data.kelas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pilih Matkul</ion-label>
      <ion-select [(ngModel)]="data.nomatkul" (ionChange)="getDataLog(data.nomatkul)">
        <ion-select-option *ngFor="let district of selectedState.idmatkul" [value]="district.no">
          {{district.matkul}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="color:black">Program Studi</ion-label>
      <ion-input [(ngModel)]="data.prodi" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Semester</ion-label>
      <ion-input [(ngModel)]="data.semester" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Jenis Perkuliahan</ion-label>
      <ion-select [(ngModel)]="data.jeniskuliah">
        <ion-select-option value="Teori">Teori</ion-select-option>
        <ion-select-option value="Praktikum">Praktikum</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Metode Perkuliahan</ion-label>
      <ion-select [(ngModel)]="data.metodekuliah">
        <ion-select-option value="Tatap Muka">Tatap muka</ion-select-option>
        <ion-select-option value="Online">Online</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Minggu-Ke</ion-label>
      <ion-select [(ngModel)]="data.minggu">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Jml Sesi</ion-label>
      <ion-select [(ngModel)]="data.sesi">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea padding [(ngModel)]="data.deskripsi"></ion-textarea>
    </ion-item>
    <ion-button (click)="genqr()" expand="full">Generate QR</ion-button>
  </ion-card>
  <!-- <ion-button expand="block" fill="outline" color="primary">Generate QR Code</ion-button> -->

  <ion-card *ngIf="ditekan">
    <ngx-qrcode [qrc-value]="qrdata_isi" [qrc-element-type]="elementType" qrc-class="my-code">
    </ngx-qrcode>
  </ion-card>

  <ion-card *ngIf="ditekan">
    <ion-card-header>
      <ion-card-title>
        Daftar Siswa Hadir
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of listabsen">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{item.nim}}</h3>
          </ion-text>
          <p>{{item.nama}}</p>
          <ion-text color="success">
            <p>Jam : {{item.jam}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>